@font-face {
	font-family: "Source Han Sans CN";
	/*src: url("NotoSansHans-Black.otf");
	src: url("NotoSansHans-Bold.otf");
	src: url("NotoSansHans-DemiLight.otf");
	src: url("NotoSansHans-Medium.otf");
	src: url("NotoSansHans-Regular.otf");
	src: url("NotoSansHans-Thin-Windows.otf");*/
}

* {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

html, body {
	margin: 0 auto;
	height: 1080px;
	width: 100%;
}

#app {
	width: 1920px;
	font-family: "Source Han Sans CN";
}

.el-icon-loading:before {
	font-size: 60px;
}

.el-date-editor--datetime {
	width: 318px!important;
	margin: 0 48px 0 14px;
}

.el-date-editor--datetime .el-input__inner {
	width: 318px;
	height: 50px;
	background-color: #f6f7fb;
	border: solid 1px #e5e5e5;
}

.el-date-editor--datetime .el-input__prefix {
	left: auto;
	right: 5px;
}

.el-table__header {
	width: 1566px;
	height: 64px;
	border-top: 1px solid #e5e5e5;
}

.el-table th {
	font-size: 22px;
	color: #333;
}

.el-table th > .cell {
	line-height: 39px;
}

.el-table td .cell {
	font-size: 22px;
	color: #666;
	padding: 20px 0!important;
}

.el-table tr td:first-child .cell {
	font-size: 40px;
	color: #4081ff;
	opacity: 0.5;
	line-height: 57px;
}

.el-row .el-select > .el-input {
	margin-left: 5px;
	margin-right: 61px;
	position: relative;
}

.el-row .el-select .el-input--suffix .el-input__inner {
	width: 366px;
	height: 50px;
	background-color: #f6f7fb;
	border: solid 1px #e5e5e5;
}

.el-row .el-select .el-input__suffix {
	right: 85px;
}

.el-scrollbar__bar {
	display: none;
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
	width: 20px;
	height: auto;
}

.el-scrollbar {
	overflow: hidden;
	position: relative
}

::-webkit-scrollbar {
	width: 50px;
	background: #3b9cd4  ;
}


/* 滚动槽 */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.el-select-dropdown__wrap.el-scrollbar__wrap{
	margin-right: 0!important;
	margin-bottom: 0!important;
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

