.title-text{
	font-size: 16px;
	font-weight: bold;
}
.common-row{
	line-height: 40px;
	margin: 5px;
}


/*角色管理详情*/
.place {
  height: 50px;
}

.tag {
  margin-right: 10px;
}

.return-btn {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
